.container {
margin: 1% auto;
}

.menu {
    width: 500px;
}

.accounts-open {
    background-color:white;
}

.existingClients {
    width: 80%;
    margin: 0 auto;
    border-style: solid;
    border-color: #808080;
}

.pay-but {
    margin:3em auto;
}