.container {
margin: 1% auto;
}

.menu {
    width: 300px;
}

.accounts-open {
    background-color:white;
}

.clients-detail-area {
    padding: 15px 0;
}

.clients-detail-area > div {
    border-bottom: solid 1px #808080;
    padding: 5px 0;
}

.pay-but {
    margin:3em auto;
}

.orders-table {
    margin: 10px 0 0 0;
}

.orders-table-header {
    border-bottom: solid 1px #a0a0a0;
}
.orders-table-header div:last-child {
    text-align: center;
}

.orders-table-row {
    border-bottom: solid 1px #c3c3c3;
}

.orders-table-row div:last-child {
    text-align: center;
}