<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />

    </head>
    <body>

        <div class="nav-side-menu">
            <div class="brand">Opciones</div>
            <i class="toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a href="configuracionPlatillos.html">
                            <div>Platillos</div>
                        </a>
                    </li>
                    <li>
                        <a href="configuracionIngredientes.html">
                            <div>Ingredientes</div>
                        </a>
                    </li>
                    <li>
                        <a href="configuracionMedidas.html">
                            <div>Unidades de Medida</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div  class="b-cont">
            <article>
                <header>
                    <h1>Restaurante Mediterraneo</h1>
                    <p>Unidades de Medida</p>
                </header>
            </article>

            <div class="wrapper">
                <div class="panel panel-default">
                    <table class="table mensurations" id="mensurations">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre de Unidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0101003</td>
                                <td>Aceite de Oliva</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <input type="button" class="btn btn-success add-mesuration" value="Agregar Unidad de Medida" id="addMensuration" data-target="#myModal">
                </div>
            </div>

            <!-- Agregar/Modificar Medida Modal-->
            <div class="modal fade" id="mensuration" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Unidad de Medida</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form data-toggle="validator" role="form">
                                <div class="form-group">
                                    <label for="id">Id</label>
                                    <input type="number" class="form-control" id="id" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="nombreUnidad" class="control-label">Nombre de Unidad</label>
                                    <input type="text" class="form-control" id="NombreUnidad" disable="true" minlength="1" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="addMensuration" class="btn btn-success pull-left"></span>Guardar</button>
                                    <button type="button" class="btn btn-warning  pull-right" data-dismiss="modal">Cancelar</button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!--Modal-->
        </div> 
        <!--Librerias & Estilos-->
        <link rel="stylesheet" href="../Css/Normalize.css" />
        <link rel="stylesheet" href="../Css/Lib/Boostrap/bootstrap.css" />
        <link rel="stylesheet" href="../Css/site.css" />
        <link rel="stylesheet" href="../Css/configuracionMedidas.css" />
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <script src="../Js/Lib/jquery-3.2.1.min.js"></script>
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="../Js/Lib/Bootstrap/bootstrap.js"></script>
        <script src="../Js/configuracionMedidas.js"></script>
        <script src="../Js/Lib/validator.min.js"></script>

    </body>
</html>
