<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/Normalize.css" />
        <link rel="stylesheet" href="css/site.css" />
        <link rel="stylesheet" href="lib/Bootstrap/css/bootstrap.css" />
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    </head>
    <body>
        <article>
            <header>
                <h1>Restaurante Mediterraneo</h1>
            </header>
        </article>
  
        <form class="login">
            <div class="group">
                <input type="text" name="user"  placeholder="Usuario"><br>
                <input type="password" name="password"  placeholder="Contrasena"><br>             
            </div>
            <div class="text-center">
                <a type="button" class="btn btn-warning button" href="Main.html">
                    Ingresar
                </a>
            </div>
        </form>



        <script src="lib/jquery-3.2.1.min.js"></script>
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="lib/Bootstrap/js/bootstrap.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function () { });
        </script>

        <footer>
            <p>Todos los derechos reservados
        </footer>
    </body>
</html>
